@page "/counter"
@page "/counter/messages"
@using SonOfTabNav.Client.Features.Base.Components
<h1>Counter Page</h1>

<h2>Counter Display 1</h2>
<Counter TestId="Counter1" />

<h2>Counter Display 2</h2>
<Counter TestId="Counter2" />
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="/counter/messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">HomeTab</div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">ProfileTab</div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">MessagesTab</div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">SettingsTab</div>
</div>
<SonOfTabNav.Client.Features.Tabs.Components.TabsMenu />
<h6>Reset button will clear all state in the Store and return you to the home page</h6>
<ResetButton />
<br />
<hr />
<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream />